---
{{ ansible_managed | comment }}

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - github.com/ansible/awx-operator/config/default?ref={{ awx_operator_latest_tag }}

images:
  - name: quay.io/ansible/awx-operator
    newTag: {{ awx_operator_latest_tag }}

namespace: {{ awx_namespace }}
