---
apiVersion: awx.ansible.com/v1beta1
kind: AWX
namespace: {{ awx_namespace }}
metadata:
  name: "{{ awx_instance_name }}"
spec:
{% if service_type == 'nodeport' %}
  service_type: NodePort
  nodeport_port: {{ awx_instance_port }}
{% endif %}
{% if service_type == 'ingress' %}
  ingress_type: ingress
  ingress_tls_secret: awx-secret-tls
  hostname: "{{ ansible_fqdn }}"
{% endif %}
{% if storage_configuration %}
  postgres_configuration_secret: awx-postgres-configuration
  postgres_storage_class: awx-postgres-volume
  postgres_storage_requirements:
    requests:
      storage: 8Gi
{% endif %}
