---
name: Ansible Lint
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  lint:
    name: Run ansible-lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: ansible/ansible-lint@main
